* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  background: #0b0f14;
  color: #e5e7eb;
  height: 100%;
  margin:0;
}

.app {
  display: flex;
  grid-template-columns: 45% 55%;
  height: 100vh;
}

/* LEFT IMAGE */
.image-panel {
  background: black;
  flex:1;
  padding:20px;
  display:flex;
  flex-direction: column;
  align-items:center;
}

.image-panel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* RIGHT CONTENT */
.content-panel {
  padding: 30px;
  overflow-y: auto;
  flex:1;
  padding:20px;
  display:flex;
  align-items: stretch;
}

/* CARDS */
.card {
  background: #111827;
  border-radius: 16px;
  padding: 24px;
  margin-bottom: 60px;
  width:100%;
  height:100%;
}

.card h2 {
  margin-bottom: 16px;
}

.card ul li {
  margin-bottom: 12px;
  line-height: 1.6;
}

/* TEXT HIGHLIGHTS */
.danger {
  background: #7f1d1d;
  padding: 2px 6px;
  border-radius: 6px;
}

.warning {
  background: #78350f;
  padding: 2px 6px;
  border-radius: 6px;
}

.highlight {
  background: #1e3a8a;
  padding: 2px 6px;
  border-radius: 6px;
}


.upload-box {
  border: 3px dashed #666;
  padding: 40px;
  display: flex;
  cursor: pointer;
  text-align: center;
  border-radius: 16px;
  color: white;
  width:80%;
  height:320px;
  align-items:center;
justify-content: center;
margin-bottom: 32px;  

}

.upload-box input {
  display: none;
}

.upload-box:hover {
  border-color: #00ffcc;
}
.upload-wrapper {
  width: 80%;
  height:90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px; /* space between box and button */
  border-radius: 16px;
  

  display: flex;
  flex-direction: column;
  align-items: center;
}


.scan-btn {
  background: linear-gradient(135deg, #2b2b70, #0d0d0e);
  border: none;
  padding: 14px 36px;
  border-radius: 999px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.scan-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(79, 70, 229, 0.4);
}
